body {

    text-align: center;
    font-family: verdana;
    font-size: 20px;
    background-color: rgb(214, 238, 255);
    color: black;
    line-height: 1.5;

}

h1 {

    font-weight: bold;
    margin-right: 30%;
    margin-left: 30%;
    border: 30px solid transparent;
    font-size: 40px;
    background-color: rgb(173, 221, 255);

}

button {

    margin: 1%;
    background-color: rgb(173, 221, 255);
    width: 300px;
    height: 45px;
    border: 2px solid black;
    font-size: 25px;

}

img {

    border-radius: 30px; 
    width: 600px;
    height: 320px;
    text-align: center;

}

div {

    text-align: justify;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 10.8%;
    font-size: 18px;

}

label {

    font-size: 18px;

}

.subtittle {

    border: 30px solid transparent;
    font-size: 25px;
    background-color: rgb(173, 221, 255);
    margin-right: 30%;
    margin-left: 30%;

}

.texto {

    border: 1px solid white;
    width: 200px;
    height: 20px;
    outline: 0;

}